.env

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

media

node_modules
dist
bundle
dist-ssr
dist-test
*.local
yalc.lock
.yalc
coverage
media

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.claude

stamps/*
!stamps/example*.json